.page {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  background-color: #f7fafc;
}

.nav {
  margin-bottom: 25px;
  padding: 15px 0;
}

.nav__link {
  margin-right: 20px;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative; /* set position to relative */
  color: #647388; /* set text color */
  margin-bottom: 10px;
}

.nav__link--wide {
  color:#4f47dc;
}

.nav__link--wide::after {
  margin-bottom: 10px;
  content: ""; /* add a pseudo-element */
  position: absolute; /* set position to absolute */
  left: 0; /* align to the left */
  bottom: -35px; /* set distance from text */
  height: 2px; /* set height of underline */
  width: 100%; /* set initial width to 0 */
  background-color: #4f47dc; /* set color of underline */
  transition: width 0.3s ease-in-out; /* add animation transition */
}

.mt-8 {
  margin-top: 8px;
}

.gray {
  color: #647388;
}

.dark {
  color: #242d3c
}

.text-label {
  font-weight: 500;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-normal {
  margin: 8px 0;
  color: #647388;
}



.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.photo-grid__wrapper {
  height: 220px;
  width: 200px;
}

.photo-grid__img {
  object-fit: cover;
  height: 150px;
  width: 195px;
  border-radius: 12px;
  padding: 2px;
  border: 2px solid #f7fafc;
  max-width: 100%;
  max-height: 100%;
}

.photo-grid__img--selected {
  border: 2px solid #4f47dc;
  padding: 2px;
}

.border-b {
  border-bottom: 1px rgb(201, 201, 201) solid;
}

.button {
  background-color: white;
  border:rgb(201, 201, 201) solid 1px;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  font-size: 1em;
  padding: 10px;
}

.sidebar__wrapper {
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px auto;
  text-align: center;
  align-items: center;
}

.sidebar {
  min-width: 25%;
  max-width: 25%;
  border-left: 1px #e5eaf0 solid;
  padding: 0 2%;
}

.sidebar__file {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.sidebar__file div {
  text-align: left;
}

.sidebar__description {
  line-height: 1.5;
  text-align: left;
}

.sidebar__image {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  padding: 2px;
  object-fit: cover;
}

.sidebar__information {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.information__column {
  border-top: 1px rgb(201, 201, 201) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information__column:last-of-type {
  border-bottom: 1px rgb(201, 201, 201) solid;
}