body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin and padding reset */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
dl, dd, dt,
form, fieldset, legend,
blockquote, cite,
figure {
  margin: 0;
  padding: 0;
}

/* Font size reset */
html {
  font-size: 16px;
}

/* List style reset */
ul, ol {
  list-style: none;
}

/* Link reset */
a {
  color: inherit;
  text-decoration: none;
}


/* remove all default button styling */
button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}